@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: dark;
  }

@font-face {
  font-family: 'MicrogrammaDBolExt';
  src: local('MicrogrammaDBolExt'), url(./MicrogrammaDBolExt.ttf) format('truetype');
}
